.bundle/
certs/
log/*.log
pkg/
spec/examples.txt
spec/dummy
tmp
.env
*.gem

.docker-sync

.DS_Store

#rubocop qa-tools default rules
.rubocop-https*

# Ignore coverage report
/coverage

Gemfile.lock
.yardoc/
