name: Run tests

on:
  push:
    branches-ignore: [ release ]
  pull_request:
    branches: [ master release ]

jobs:
  build:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['2.7', '3.0', '3.1']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1.111.0
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically
    - name: Run EventStore DB
      run: docker-compose -f docker-compose-cluster.yml up --detach
    - name: Run tests
      run: |
        bundle install
        sleep 10
        TEST_COVERAGE=true bundle exec rspec
